@font-face {
	font-family: 'VCR';
	src: url('VCR.ttf');
}

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
}
.container{
	background-color: black;
	display: flex;
	flex-direction: column;
	font-family: 'VCR';
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
}

h1{
	color: white;
	font-size: 50px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#jeu {
	height: 303px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 320px;
}

.cellule{
	align-items: center;
	background-color:white;
 	border: 1px solid black; 
 	display: flex;
 	font-size: 600%;
	font-family: 'VCR', cursive;
	height : 100px;
 	justify-content: center;
	width: 100px;
}

#x1y1{
	border-top-left-radius: 5px;
}
#x1y3{
	border-top-right-radius: 5px;
}
#x3y1{
	border-bottom-left-radius: 5px;
}
#x3y3{
	border-bottom-right-radius: 5px;
}

.player1{
	color: green;
}

.player2{
	color: red;
}

#compteur1{
	color: green;
	margin-top: 30px;
}

#compteur2{
	color: red;
	margin-top: 30px;
}

.btn{
	background-color: black;
	color: white;
	margin: auto;
	margin-top: 25px;
	width: 200px;
}